body{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

h1{
    font-family: sans-serif;
    font-weight: bold;
    color: #4fa3db;
    line-height: 32px;
}


h2{
    font-family: sans-serif;
    font-weight: lighter;
    color: #555;
}

hr{
    border-top: 1px solid #dbdfe2;
    margin-bottom: 20px;
}

#title{
    position: relative;
    height: 60px;
}

#wrapper{
    position: absolute;
    width: 860px;
    height:560px;
    margin: -280px -430px;
    top: 50%;
    left: 50%;
}

nav{
    display:inline-block;
    padding: 20px 5px;  
    margin-right: 5px;
    width:  105px;
    height: 460px;
    float: left;
    background: #ECEFF1;
}

nav ul li{
    display: inline-block;
    margin: 2.5px 0;
    padding: 9px;
    width: 32px;
    height: 32px;
    color: #555;
}
nav ul li:hover, nav ul li.active {
    background: #dbdfe2;
    cursor: pointer;
}
canvas{
    display:inline-block;
    border:none; 
    background:#f4f7f8;
    cursor: pointer;
}

input[type="range"]{
    width: 100px;
    cursor: pointer;
}


.hueSelector{
    position: absolute;
    top: 185px;
    left: 185px;
    width: 5px;
    height: 5px;
    border: 3px solid #fff;
    border-radius: 100px;
}

.color{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 1px solid #dbdfe2;
    cursor: pointer;
}


.pickerWrapper{
    padding: 20px;
    overflow: hidden;
    display: none;
    z-index: 999;
    position: relative;
    top:-260px;
    left: 50%;
    width: 255px;
    height: 250px;
    background: #fff;
    border: 1px solid #dbdfe2;
}

.pickerWrapper.active ,
#foregroundColor:hover .pickerWrapper,
#backgroundColor:hover .pickerWrapper{
    display:block;
}

.selectHueWrapper{
    position: relative;
    float: left;
}
.selectColorWrapper{
    position: relative;
    width: 50px;
    text-align: center;
    float: right;
}

.selectSelector{
    position: absolute;
    margin-left: -18px;
    left: 50%;
    top: 0;
    width: 36px;
    height: 5px;
    background: #dbdfe2;
}

#foregroundColor .color{
    background: #000;
}
